/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap-toggle/css/bootstrap-toggle.min";
@import "font-awesome-sprockets";
@import "font-awesome";
.product-price-at-index{
  padding-top: 0px;
  padding-bottom: 10px;

  font-size: 15px;
  font-weight: bold;
  color: #ff007c;
}

.product-price{
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 30px;
  font-weight: bold;
  color: #ff007c;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 0px;
  border-radius: 0;
  //background-color: #448500;
  border-color: #448500;

}

/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
  top: 0;
  width: 100%;
}

.affix + .container {
  padding-top: 70px;
}

.clear{
  clear: both;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-bottom: 30px;
  background-image: url("001.jpg");
  padding: 10em ;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #448500;
  padding: 25px;
}

