/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import 'bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap-toggle/css/bootstrap-toggle.min";
@import "bootstrap-touchspin/src/jquery.bootstrap-touchspin";
@import "font-awesome-sprockets";
@import "bootstrap-datetimepicker";
@import "font-awesome";

body {
  position: relative;
}

* {
  box-sizing: border-box;
}


.product-price-at-index{
  padding-top: 0px;
  padding-bottom: 10px;

  font-size: 15px;
  font-weight: bold;
  color: #ff007c;
}

.countdown-text{
  color: #c41d43;
}

.product-original-price{
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
  text-decoration:line-through;
}

.product-original-price-table{
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
  text-decoration:line-through;
}

.product-original-price-index{
  padding-top: 0px;
  padding-bottom: 0px;

  font-size: 15px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
  text-decoration:line-through;
}

.product-price{
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 30px;
  font-weight: bold;
  color: #ff2a45;
}

.product-price-table{
  font-size: 20px;
  font-weight: bold;
  color: #ff2a45;
}

.product-price-discount-table{
  font-size: 20px;
  font-weight: bold;
  color: #ff900d;
}

.facebook-login{
  margin-top: 5px;
}

.buy-now-area{
  margin-bottom: 30px;
}

.buy-now-footer-area{
  margin-bottom: 50px;
}

.col-centered{
  height: auto;
  float: none;
  margin: 0 auto;

}

.product-shipment-table{
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
}

.padding-top-with-nav{
  padding-top: 30px;
  min-height: 519px;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 0px;
  border-radius: 0;
  //background-color: #448500;
  border-color: #c41d43;

}

/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
  top: 0;
  width: 100%;
}

.affix + .container {
  padding-top: 70px;
}

.clear{
  clear: both;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-bottom: 30px;
  background-image: url("003.jpg");
  padding: 10em ;
}

.sticky-bottom{
  position: relative;
  width: 100%;
  bottom: 0;
}
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #c41d43;
  padding: 25px;
  margin-top: 50px;
}

#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}

#login-dp .help-block{
  font-size:12px
}

#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}

#login-dp .social-buttons{
  margin:12px 0
}

#login-dp .social-buttons a{
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}

.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}

@media(max-width:768px){
  #login-dp{
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom{
    background-color: inherit;
    border-top:0 none;
  }
}