<div data-countdown="<%= render_expires(product) %>" class="container text-center" id="finish-date" data-no-turbolink></div>

<!--<div data-countdown="2016/05/20" class="container text-center" id="finish-date" data-no-turbolink></div>-->