<footer class="bottom-menu bottom-menu-inverse sticky-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 footer-column">
        <p>© Growth Health</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 footer-column">
        <ul class="list-unstyled">
          <li>
            <a href="#">
              Terms of Use
            </a>
          </li>
          <li>
            <a href="#">
              Privacy Policy
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 footer-column">
        xxx
      </div>
    </div>
  </div>
</footer>