<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2016 AppleStore
    <br>Design by <a href="https://www.facebook.com/thealvinchiu" target=_new>Alvin Chiu</a>
  </p>
</footer>